body {
  background-color: rgba(0, 0, 0, 0.678);
}

.box {
  border: 2px solid rgba(114, 223, 42, 0.644);
  background-color: rgb(49, 47, 47);
}
.box_username {
  border: 2px solid rgba(114, 223, 42, 0.644);
  background-color: rgb(49, 47, 47);
  height: 100;
  text-align: center;
  margin-top: 10;
}
.box_chat {
  border: 2px solid rgba(114, 223, 42, 0.644);
  background-color: rgb(49, 47, 47);
  height: 500;
  text-align: center;
  margin-top: 10;
}
.box_attatch_file {
  border: 2px solid rgba(114, 223, 42, 0.644);
  background-color: rgb(49, 47, 47);
  height: 200;
  text-align: center;
  margin-top: 10;
}